<div class="footerprueba">
  <a routerLink="#">
    <img src="assets/img/footer-img.png" alt="Logo" class="logo">
  </a>

  <mat-expansion-panel class="custom-panel">
    <mat-expansion-panel-header class="custom-header">
      <mat-panel-title>Información</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li><a routerLink="/user-profile" target="_blank">Mi cuenta</a></li>
      <li><a routerLink="/contact" target="_blank">Contacto</a></li>
      <li><a routerLink="/">Politicas</a></li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel class="custom-panel">
    <mat-expansion-panel-header class="custom-header">
      <mat-panel-title>Categorias</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li><a routerLink="/">Anime</a></li>
      <li><a routerLink="/">Kpop</a></li>
      <li><a routerLink="/">Lectura</a></li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel class="custom-panel">
    <mat-expansion-panel-header class="custom-header">
      <mat-panel-title>Síguenos</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li><a href="https://www.tiktok.com/@generacion_upc?lang=en" target="_blank">TikTok</a></li>
      <li><a href="https://www.instagram.com/upcedu/" target="_blank">Instagram</a></li>
      <li><a href="https://www.facebook.com/upcedu" target="_blank">Facebook</a></li>
    </ul>
  </mat-expansion-panel>



  <div id="footer-container" class="w-full text-whiteColor px-1">
    <div class="max-w-7xl flex flex-col sm:flex-row py-4 mx-auto justify-starts items-start">
      <div id="metodos" class="text-end text-xl text-white mb-2 md:hidden">
        <a class="mr-20 w-[60%] mx-1 inline-block pt-2">
          <img src="https://raw.githubusercontent.com/GabbrM/Landing-Page-version-1/main/src/img/Extras/metodosPago.png"
               alt="metodo de pago">
        </a>
      </div>

      <div class="">
        <div id="copyright" class="ml-20">
          © 2023 AKIRA, Powered by Lambders
        </div>

      </div>

    </div>
  </div>


</div>



