<div class="row product-details" *ngIf="productData">
  <div class="col-sm-6">
    <img class="product-image" src="{{productData.image}}" alt="products images">
  </div>
  <div class="col-sm-6">
    <div class="details">
      <h1>{{productData.nameCategory}}</h1>
      <h2>{{productData.name}}</h2>
      <h3 class="price-section">{{productData.price | currency:'S/.'}}</h3>
      <div>
        Color:
        <h5 [style.background-color]="productData.color" class="product-color"></h5>
      </div>
      <div class="quantity">
        <button class="quantity-button" (click)="handleQuantity('min')">-</button>
        <input
          type="text"
          class="quantity-input"
          value="{{productQuantity}}">
        <button class="quantity-button" (click)="handleQuantity('plus')">+</button>
      </div>
      <button *ngIf="!removeCart" class="form-button add-to-cart" (click)="AddToCart()"><p class="p-add">Añadir a la Canasta</p></button>
      <button *ngIf="removeCart" class="form-button remove-from-cart" (click)="removeToCart(productData.id)"><p class="eliminate">Eliminar de la Canasta</p></button>
      <button class="form-button buy-button">Comprar ahora</button>
    </div>
  </div>
</div>
