.product-image{
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.product-color{
  border: 3px solid #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.product-details{
  margin-top: 50px;
  margin-bottom: 80px;
}

h1{
  margin-bottom: 10px;
  font-size: 20px;
}

h2{
  font-size: 25px;
}

.details{
  margin-left: 10px;
}

.details .price-section{
  color: #444444;
  font-weight: bold;
  font-size: 20px;
}

h3 .quantity-h{
  font-weight: normal;
  font-size: 15px;
}


h5,h6{
  margin-bottom: 20px;
}

.form-button{
  height: 35px;
  border: 1px solid blueviolet;
  color: blueviolet;
  cursor: pointer;
  margin-right: 15px;
}

.add-to-cart {
  background-color: #AA1D1D;
  color: white;
  border-radius: 25px;
  height: 50px;
  border-collapse: collapse;
}

.add-to-cart .p-add{
    padding-top: 10px;
    font-weight: bold;
}

.remove-from-cart .eliminate{
  padding-top: 10px;
  font-weight: bold;
}

.remove-from-cart {
  background-color: white;
  color: #AA1D1D;
  border: 5px solid #AA1D1D;
  border-radius: 25px;
  height: 50px;
  border-collapse: collapse;
}

.buy-button{
  background-color: white;
  color: #AA1D1D;
  border: 5px solid #AA1D1D;
  border-radius: 25px;
  height: 50px;
  border-collapse: collapse;
}
.quantity {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.quantity-button,
.quantity-input {
  height: 40px;
  border: 1px solid #ccc;
  background: none;
}

.quantity-input {
  width: 50px;
  padding: 0 10px;
  text-align: center;
  border: none;
}

.quantity-button {
  display: flex;
  padding-top: 10px;
  padding-bottom: 0;
  justify-content: center;
  width: 40px;
  cursor: pointer;
  border: none;
}

@media(max-width: 600px) {
  .quantity {
    flex-direction: column;
  }

  .quantity-button,
  .quantity-input {
    width: 100%;
  }
}
