*, h1{
  font-family: 'Montserrat', sans-serif;
}

.form-input{
  height: 35px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #c9c7c7;
  color: black;
}

.common-form{
  text-align: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 300px;
}

.form-button{
  height: 35px;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-auth h1{
  text-align: center;
  margin-bottom: 40px;
  margin-top: 80px;
  color: #AA1D1D;
  font-weight: bold;
}

.user-auth{
  margin-bottom: 100px;
}

.common-form a{
  color: #AA1D1D;
  cursor: pointer;
  text-decoration: none;
}

.invalid-input{
  color: red;
  font-size: 12px;
  margin-top: -20px;
}

button:disabled{
  cursor: not-allowed;
}

.error-p{
  color: red;
}
