<div class="update-product-content">
  <h1>Update Products</h1>
  <p>{{productMessage}}</p>
  <form #ContentProduct="ngForm" (ngSubmit)="submit(ContentProduct.value)"
        class="product-form">
    <input type="text" class="form-input" placeholder="Ingresa nombre del producto" name="name" ngModel="{{productData?.name}}"/>
    <input type="text" class="form-input" placeholder="Ingresa precio del producto" name="price" ngModel="{{productData?.price}}"/>
    <input type="text" class="form-input" placeholder="Ingresa color del producto" name="color" ngModel="{{productData?.color}}"/>
    <input type="text" class="form-input" placeholder="Ingresa categoría del producto" name="category" ngModel="{{productData?.category}}"/>
    <textarea type="text" class="form-input" placeholder="Ingresa descripción del producto" name="description" ngModel="{{productData?.description}}"></textarea>
    <input type="text" class="form-input" placeholder="Ingresa URL de la imagen del producto" name="image" ngModel="{{productData?.image}}"/>
    <button class="form-button" mat-button>Update Product</button>

  </form>
</div>
