h1, h3, input, *{
  font-family: 'Montserrat', sans-serif;
}

span{
  font-weight: bolder;
  margin-left: 34px;
}

.non-sytle{
  font-weight: normal;
}

.form-button{
  border: none;
  cursor: pointer;
  background-color: #AA1D1D;
  color: white;
  height: 50px;
  border-collapse: collapse;
}

.my-orders h1{
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 25px;
  text-align: start;
  font-weight: bolder;
}

.my-orders .order-img{
  width: 100px;
}

.order-data{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.my-orders {
  margin-bottom: 100px;
}
