h1, h2, h3, h4, * {
  font-family: 'Montserrat', sans-serif;
}
h2, h3 {
  padding: 0;
  margin: 0;
}

/* Botones */
.form-button {
  border: none;
  cursor: pointer;
  background-color: #AA1D1D;
  color: white;
  border-radius: 25px;
  height: 50px;
  width: 100%;
}

.remove-button {
  cursor: pointer;
  background-color: #AA1D1D;
  border-radius: 1rem;
  height: 3rem;
  width: 5rem;
  margin-left: 1rem;

}

.remove-button:hover, .form-button:hover  {
  background-color: #7a1616;
}

/* Carrito */
.cart-page {
  margin: 5rem 3rem;
}

.cart-page h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}


.details img {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  border-radius: 0.7rem;

}

.details .container-cart {
  display: flex;
  padding-bottom: 4rem;
  align-items: center;
}

.details .columns-cart {
  padding-right: 2rem;

}

.details .info {
  display: flex;
  padding-top: 1rem;
  align-items: center;
}

.details .quantity-h {
  margin-right: 0.7rem;
  margin-top: 0.7rem;
}

.details input {
  width: 3rem;
  text-align: center;
  align-content: center;
  justify-content: center;
}



/*Resumen de Compra*/
.summary {
  margin-top: 20px;
  margin-bottom: 20px;
}

.summary h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.summary ul {
  list-style-type: none;
  padding: 0;
}

.summary ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.max-width {
  width: 100%;
}
