<div class="search-container">
  <div class="row">
    <div class="filter-container">
      <label for="categoryFilter">Filtrar por Categoría: </label>
      <select id="categoryFilter" [(ngModel)]="selectedCategory" (change)="filterResultsByCategory(selectedCategory)">
        <option value="">Todas las categorías</option>
        <option value="K-POP">K-POP</option>
        <option value="Anime">Anime</option>
        <option value="Lectura">Lectura</option>
      </select>

      <div class="filter-container" *ngIf="selectedCategory">
        <label for="subcategoryFilter">Filtrar por: </label>
        <select id="subcategoryFilter" [(ngModel)]="selectedSubcategory" (change)="filterResultsBySubcategory(selectedSubcategory)">
          <option value="">Todas las Categorías</option>
          <option *ngFor="let subcategory of getSubcategories(selectedCategory)" [value]="subcategory">{{ subcategory }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="search-results">
    <div class="search-item row" *ngFor="let item of searchResult">
      <div class="col-sm-3">
        <a routerLink="/details/{{item.id}}">
          <img src="{{item.image}}" alt="" style="width: 300px; height: 300px;">
        </a>
      </div>
      <br>
      <div class="col-sm-9 details">
        <br>
        <h6><a routerLink="/details/{{item.id}}" class="details-link">{{item.name}}</a></h6>
      <br>
        <p><b>Precio: {{item.price}} </b></p>
        <p><span>Color: {{item.color}} </span></p>
        <p><span>Categoría: {{item.category}}</span></p>
        <p>{{item.description}}</p>
      </div>
    </div>
  </div>
</div>
