<!-- update-password.component.html -->
<form class="update-password-form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email" name="email" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Contraseña anterior</mat-label>
    <input matInput [(ngModel)]="oldPassword" name="oldPassword" type="password" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nueva contraseña</mat-label>
    <input matInput [(ngModel)]="newPassword" name="newPassword" type="password" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Actualizar Contraseña</button>
</form>
