<form class="common-form" (ngSubmit)="onSubmit()" #updatePasswordForm="ngForm">
  <h1 class="form-title">Actualizar Contraseña</h1>
  <br>

  <div class="form-input-container">
    <input [(ngModel)]="email" name="email" placeholder="Ingrese su email" type="text" required #emailInput="ngModel">
  </div>
  <div class="error-container">
    <p class="invalid-input"><span *ngIf="emailInput.invalid && emailInput.touched">Ingrese un correo válido</span></p>
  </div>

  <div class="form-input-container">
    <input [(ngModel)]="oldPassword" name="oldPassword" placeholder="Ingrese su contraseña actual" type="password" required #oldPasswordInput="ngModel">
  </div>
  <div class="error-container">
    <p class="invalid-input"><span *ngIf="oldPasswordInput.invalid && oldPasswordInput.touched">Ingrese su contraseña actual</span></p>
  </div>

  <div class="form-input-container">
    <input [(ngModel)]="newPassword" name="newPassword" placeholder="Ingrese su nueva contraseña" type="password" required #newPasswordInput="ngModel">
  </div>
  <div class="error-container">
    <p class="invalid-input"><span *ngIf="newPasswordInput.invalid && newPasswordInput.touched">Ingrese su nueva contraseña</span></p>
  </div>

  <button class="form-button" type="submit" [disabled]="updatePasswordForm.invalid">Aceptar</button>
</form>
